body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}

#form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#result {
  width: 1000px;
  height: 500px;
  background-position: center;
  background-size: cover;

}
.image-info {
  font-size: 12px;
  line-height: 1.5;
}